frontend OBSELETE/Login page/login.html
<html>
<head>
  <title>Login Form Design</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="loginbox">
  <img src ="avatar.png" class="avatar">
    <h1>User Login</h1>
    <div id="error">
      <!--INSERT STUFF HERE -->
    </div>
    <form id="form" action="/" method="GET">
      <p>Username</p>
      <input id="username" name="username" type="text" placeholder="Enter Username">
      <p>Password</p>
      <input id="password" name="password" type="password" placeholder="Enter Password">
      <input id="submit" name="submit" type="submit" value="Login">
      <a href="#">Forgotten Password</a><br>
      <a href="#">Register for an Account</a>
    </form>
  </div>
</body>
  </html>

nodejs/views/login.jade
html
  head
    title Login Form Design
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body#login_background
    .loginbox
      img.avatar(src='/images/avatar.png' class="avatar")
      h1 User Login
      #error
        !{ error }
      form(method='POST' action="/login")
        p Username
        input(type='text', name='uname', placeholder='Enter Username')
        p Password
        input(type='password', name='pword', placeholder='Enter Password')
        input(type='submit', name='', value='Login')
        a(href='#') Forgotten Password
        br
        a(href='#') Register for an Account
