nodejs/views/newrecord.jade
html(dir='ltr', lang='en')
  head
    meta(charset='utf-8')
    title
    link(rel='stylesheet', href='/stylesheets/newRecord.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.1/css/all.css')
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
  body
    .newRecordContainer
      header#patientName
        h2=pname
      .sectionTitle
        .sectionTitlePadding
          h5 Add New Record
      .newRecordDiv
        #formContainer
          form#newRecordform(action='index.html', method='post')
            label.inputLabel(for='recordTitle')  Record Title:
            input#recordTitle.recordInputActive(type='text')
            label.inputLabel(for='hospital') Hospital Name:
            input#hospital.recordInputActive(type='text')
            label.inputLabel(for='typeOfRecord') Record Type:
            select#recordType.recordInputActive
              option(value='HR') HR
              option(value='DN') DN
              option(value='VA') VA
              option(value='LBR') LBR
              option(value='GH') GH
            label.inputLabel(for='doctorName') Doctor's Name:
            input#doctor.recordInputActive(type='text')
            label.inputLabel(for='date') Select a Date:
            input#date.recordInputActive(type='date')
            label.inputLabel(for='time') Select a time:
            input#time.recordInputActive(type='time')
            label.inputLabel(for='recordContent') Record Content:
            textarea#recordContent.recordInputActive(rows='8', cols='80')
            button#addRecordButton.newRecordButton(type='button', onclick='stageRecord()') Add Record
            button#confirmRecordButton.newRecordButton(type='button', onclick='commitRecord()', hidden='') Confirm & Submit
            button#eidtRecordButton.newRecordButton(type='button', onclick='unStageRecord()', hidden='') Edit Record
            button#cancelRecordButton.newRecordButton(type='button', onclick='') Cancel
          #previewPopup(onclick='closePopUp()', hidden='')
            .popUpContent
              p Please review the form
              button#closePopUp.newRecordButton(type='button', onclick='closePopUp()') close
        #pushSucessful
          i.fas.fa-clipboard-check
          label.inputLabel(for='pushSucessful') RECORD SUCCESSFULLY ADDED
          button#anotherRecordButton.newRecordButton(type='button', onclick='location.reload()') Add New Record
          button#returnButton.newRecordButton(type='button', onclick='window.close()') Return
        .pushFailed
    script(src='/js/newRecord.js')
    script(src='/js/main.js')

frontend OBSELETE/records/newRecord.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="./css/newRecord.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	</head>
	<body>
		<div class="newRecordContainer">
			<header id="patientName">
					<h2>Monica Latte</h2>
			</header>

	    <div class="sectionTitle">
	        <div class="sectionTitlePadding">
	          <h5>Add New Record</h5>
	        </div>
	     </div>

			<div class="newRecordDiv">
				<div id="formContainer">
					<form id="newRecordform" action="index.html" method="post">

						<label for="recordTitle" class="inputLabel"> Record Title:</label>
						<input type="text" class="recordInputActive" id="recordTitle">

						<label for="hospital" class="inputLabel">Hospital Name:</label>
						<input type="text" class="recordInputActive" id="hospital">

						<label for="typeOfRecord" class="inputLabel">Record Type:</label>
						<select id="typeOfRecord" class="recordInputActive">
  						<option value="HR">HR</option>
							<option value="DN">DN</option>
							<option value="VA">VA</option>
  						<option value="LBR">LBR</option>
							<option value="GH">GH</option>
						</select>

						<label for="doctorName" class="inputLabel">Doctor's Name:</label>
						<input type="text" class="recordInputActive" id="doctorName">

						<label for="date" class="inputLabel">Select a Date:</label>
  					<input type="date" id="date" class="recordInputActive">

						<label for="time" class="inputLabel">Select a time:</label>
  					<input type="time" id="time" class="recordInputActive">

						<label for="recordContent" class="inputLabel">Record Content:</label>
						<textarea rows="8" cols="80" class="recordInputActive" id="recordContent"></textarea>

						<button type="button" id="addRecordButton" onclick="stageRecord()" class="newRecordButton">Add Record</button>

						<button type="button" id="confirmRecordButton" onclick="commitRecord()" class="newRecordButton" hidden>Confirm & Submit</button>

						<button type="button" id="eidtRecordButton" class="newRecordButton" onclick="unStageRecord()" hidden>Edit Record</button>

						<button type="button" id="cancelRecordButton" class="newRecordButton" onclick="">Cancel</button>

					</form>

					<div id="previewPopup" onclick="closePopUp()" hidden>
						<div class="popUpContent">
								<p>Please review the form</p>
								<button type="button" id="closePopUp" class="newRecordButton" onclick="closePopUp()">close</button>
						</div>
					</div>
				</div>

				<div id="pushSucessful">
					<i class="fas fa-clipboard-check"></i>
					<label for="pushSucessful" class="inputLabel">RECORD SUCCESSFULLY ADDED</label>
					<button type="button" id="anotherRecordButton" class="newRecordButton" onclick="">Add New Record</button>
					<button type="button" id="returnButton" class="newRecordButton" onclick="">Return</button>
				</div>
				<div class="pushFailed">

				</div>
			</div>
		</div>
	<script src="./js/newRecord.js"></script>
	</body>
</html>
